* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
}

main {
	padding: 2rem;
	border: 1px solid black;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.card {
	height: 500px;
	width: 300px;
	border: 1px solid black;
}

button {
	padding: 0.5rem 1rem;
	margin-bottom: 5rem;
}
